/* Flex Utilities */

.u-flex {
    display: flex;
}

.u-flexInline {
    display: inline-flex !important;
  }
  
  /**
   * Direction: row
   */
  
  .u-flexRow {
    flex-direction: row !important;
  }
  
  .u-flexRowReverse {
    flex-direction: row-reverse !important;
  }
  
  /**
   * Direction: column
   */
  
  .u-flexCol {
    flex-direction: column !important;
  }
  
  .u-flexColReverse {
    flex-direction: column-reverse !important;
  }
  
  /**
   * Wrap
   */
  
  .u-flexWrap {
    flex-wrap: wrap !important;
  }
  
  .u-flexNoWrap {
    flex-wrap: nowrap !important;
  }
  
  .u-flexWrapReverse {
    flex-wrap: wrap-reverse !important;
  }
  
  /**
   * Align items along the main axis of the current line of the flex container
   */
  
  .u-flexJustifyStart {
    justify-content: flex-start !important;
  }
  
  .u-flexJustifyEnd {
    justify-content: flex-end !important;
  }
  
  .u-flexJustifyCenter {
    justify-content: center !important;
  }
  
  .u-flexJustifyBetween {
    justify-content: space-between !important;
  }
  
  .u-flexJustifyAround {
    justify-content: space-around !important;
  }
  
  /**
   * Align items in the cross axis of the current line of the flex container
   * Similar to `justify-content` but in the perpendicular direction
   */
  
  .u-flexAlignItemsStart {
    align-items: flex-start !important;
  }
  
  .u-flexAlignItemsEnd {
    align-items: flex-end !important;
  }
  
  .u-flexAlignItemsCenter {
    align-items: center !important;
  }
  
  .u-flexAlignItemsStretch {
    align-items: stretch !important;
  }
  
  .u-flexAlignItemsBaseline {
    align-items: baseline !important;
  }
  
  /**
   * Aligns items within the flex container when there is extra
   * space in the cross-axis
   *
   * Has no effect when there is only one line of flex items.
   */
  
  .u-flexAlignContentStart {
    align-content: flex-start !important;
  }
  
  .u-flexAlignContentEnd {
    align-content: flex-end !important;
  }
  
  .u-flexAlignContentCenter {
    align-content: center !important;
  }
  
  .u-flexAlignContentStretch {
    align-content: stretch !important;
  }
  
  .u-flexAlignContentBetween {
    align-content: space-between !important;
  }
  
  .u-flexAlignContentAround {
    align-content: space-around !important;
  }
  
  /* Applies to flex items
     ========================================================================== */
  
  /**
   * Override default alignment of single item when specified by `align-items`
   */
  
  .u-flexAlignSelfStart {
    align-self: flex-start !important;
  }
  
  .u-flexAlignSelfEnd {
    align-self: flex-end !important;
  }
  
  .u-flexAlignSelfCenter {
    align-self: center !important;
  }
  
  .u-flexAlignSelfStretch {
    align-self: stretch !important;
  }
  
  .u-flexAlignSelfBaseline {
    align-self: baseline !important;
  }
  
  .u-flexAlignSelfAuto {
    align-self: auto !important;
  }
  
  /**
   * Change order without editing underlying HTML
   */
  
  .u-flexOrderFirst {
    order: -1 !important;
  }
  
  .u-flexOrderLast {
    order: 1 !important;
  }
  
  .u-flexOrderNone {
    order: 0 !important;
  }

  /* Size Utilities */

  .u-size1of12 {
    flex-basis: auto !important;
    width: calc(100% * 1 / 12) !important;
  }
  
  .u-size1of10 {
    flex-basis: auto !important;
    width: 10% !important;
  }
  
  .u-size1of8 {
    flex-basis: auto !important;
    width: 12.5% !important;
  }
  
  .u-size1of6,
  .u-size2of12 {
    flex-basis: auto !important;
    width: calc(100% * 1 / 6) !important;
  }
  
  .u-size1of5,
  .u-size2of10 {
    flex-basis: auto !important;
    width: 20% !important;
  }
  
  .u-size1of4,
  .u-size2of8,
  .u-size3of12 {
    flex-basis: auto !important;
    width: 25% !important;
  }
  
  .u-size3of10 {
    flex-basis: auto !important;
    width: 30% !important;
  }
  
  .u-size1of3,
  .u-size2of6,
  .u-size4of12 {
    flex-basis: auto !important;
    width: calc(100% * 1 / 3) !important;
  }
  
  .u-size3of8 {
    flex-basis: auto !important;
    width: 37.5% !important;
  }
  
  .u-size2of5,
  .u-size4of10 {
    flex-basis: auto !important;
    width: 40% !important;
  }
  
  .u-size5of12 {
    flex-basis: auto !important;
    width: calc(100% * 5 / 12) !important;
  }
  
  .u-size1of2,
  .u-size2of4,
  .u-size3of6,
  .u-size4of8,
  .u-size5of10,
  .u-size6of12 {
    flex-basis: auto !important;
    width: 50% !important;
  }
  
  .u-size7of12 {
    flex-basis: auto !important;
    width: calc(100% * 7 / 12) !important;
  }
  
  .u-size3of5,
  .u-size6of10 {
    flex-basis: auto !important;
    width: 60% !important;
  }
  
  .u-size5of8 {
    flex-basis: auto !important;
    width: 62.5% !important;
  }
  
  .u-size2of3,
  .u-size4of6,
  .u-size8of12 {
    flex-basis: auto !important;
    width: calc(100% * 2 / 3) !important;
  }
  
  .u-size7of10 {
    flex-basis: auto !important;
    width: 70% !important;
  }
  
  .u-size3of4,
  .u-size6of8,
  .u-size9of12 {
    flex-basis: auto !important;
    width: 75% !important;
  }
  
  .u-size4of5,
  .u-size8of10 {
    flex-basis: auto !important;
    width: 80% !important;
  }
  
  .u-size5of6,
  .u-size10of12 {
    flex-basis: auto !important;
    width: calc(100% * 5 / 6) !important;
  }
  
  .u-size7of8 {
    flex-basis: auto !important;
    width: 87.5% !important;
  }
  
  .u-size9of10 {
    flex-basis: auto !important;
    width: 90% !important;
  }
  
  .u-size11of12 {
    flex-basis: auto !important;
    width: calc(100% * 11 / 12) !important;
  }
  
  /* Intrinsic widths
     ========================================================================== */
  
  /**
   * Make an element shrink wrap its content.
   */
  
  .u-sizeFit {
    flex-basis: auto !important;
  }
  
  /**
   * Make an element fill the remaining space.
   *
   * 1. Be explicit to work around IE10 bug with shorthand flex
   *    http://git.io/vllC7
   * 2. IE10 ignores previous `flex-basis` value. Setting again here fixes
   *    http://git.io/vllMt
   */
  
  .u-sizeFill {
    flex: 1 1 0% !important; /* 1 */
    flex-basis: 0% !important; /* 2 */
  }
  
  /**
   * An alternative method to make an element fill the remaining space.
   * Distributes space based on the initial width and height of the element
   *
   * http://www.w3.org/TR/css-flexbox/images/rel-vs-abs-flex.svg
   */
  
  .u-sizeFillAlt {
    flex: 1 1 auto !important;
    flex-basis: auto !important;
  }
  
  /**
   * Make an element the width of its parent.
   */
  
  .u-sizeFull {
    width: 100% !important;
  }

  /* Text Utilities */

  .u-textCenter {
      text-align: center;
  }

  .u-textLeft {
      text-align: left;
  }

  .u-textRight {
      text-align: right;
  }

  .u-textDecoNone {
      text-decoration: none !important;
  }
  